.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-container {
  flex: 1; /* Takes up 50% of the page */
  padding: 20px;
}

.ui-box {
  flex: 1; /* Takes up 50% of the page */
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

